.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-color: #333;
  padding: 20px 0;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-image {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }

  &__logo-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
    margin: 0;
  }
}
