.app-header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;

  &__title {
    margin: 0;
    display: inline-block;
    color: white;
  }

  &__image {
    width: 56px;
    height: 56px;
  }
}
