<section>
  <app-search-form [searchTermSignal]="searchTerm" />
</section>

<section class="movies">
  <ng-container
    *ngrxLet="{
      movies: movies$,
      status: status$,
    } as vm"
  >
    @switch (vm.status) {
      @case ('loading') {
        <h2 class="movies__loading">Загрузка фильмов</h2>
      }
      @case ('loaded') {
        @if (vm.movies.length === 0) {
          <p class="movies__empty-message">Ничего не найдено.</p>
        } @else {
          <ul class="movies__grid">
            @for (m of vm.movies; track m.id) {
              <li>
                <app-movie-card [movie]="m"></app-movie-card>
              </li>
            }
          </ul>
        }
      }
      @case ('error') {
        <p class="movies__error-message" role="alert">
          Произошла ошибка при загрузке данных.
        </p>
      }
    }
  </ng-container>
</section>
