.movies {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }

  &__error-message {
    color: red;
    font-size: 16px;
  }

  &__empty-message {
    font-size: 18px;
    color: #888;
  }
  &__loading {
    font-size: 18px;
    color: #3498db;
  }
}
