.movie-card {
  height: 100%;
  display: flex;
  overflow: hidden;
  background: var(--card);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    box-shadow: 0 8px 18px rgb(0 0 0 / 25%);
    transform: translateY(-4px);
  }

  &__poster {
    width: 100%;
    display: block;
    background-color: #2b2b2b;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: top center;
  }

  &__footer {
    padding: 0 10px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
  }

  &__meta {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    display: -webkit-box;
    overflow: hidden;
    font-size: 15px;
    -webkit-line-clamp: 3; /* максимум три строки */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }

  &__year {
    color: #ccc;
    opacity: 0.8;
  }

  &__rating {
    display: flex;
    font-weight: 500;
    color: #f5c518;
    align-items: center;
  }
}
