.movie-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--card);
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
  }

  &__poster {
    display: block;
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: top center;
    background-color: #2b2b2b;
  }

  &__footer {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }

  &__meta {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* максимум три строки */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__year {
    opacity: 0.8;
    color: #ccc;
  }

  &__rating {
    display: flex;
    align-items: center;
    color: #f5c518;
    font-weight: 500;
  }
}
