<section class="movie-detail">
  <ng-container
    *ngrxLet="{
      movie: movie$,
      status: status$,
    } as vm"
  >
    @switch (vm.status) {
      @case ('loading') {
        <h2 class="movie-detail__loading">Загрузка фильма</h2>
      }
      @case ('loaded') {
        <div class="movie-detail__poster">
          <img
            [src]="vm.movie?.poster || 'assets/default-image.png'"
            [alt]="vm.movie?.title"
          />
        </div>

        <div class="movie-detail__info">
          <h2 class="movie-detail__title">
            {{ vm.movie?.title }}
            <small class="movie-detail__year">({{ vm.movie?.year }})</small>
          </h2>
          <p class="movie-detail__rating">
            <strong>Рейтинг:</strong> {{ vm.movie?.rating }}
          </p>
          <p class="movie-detail__description">{{ vm.movie?.description }}</p>
          <p class="movie-detail__genres">
            <strong>Жанры:</strong> {{ vm.movie?.genres?.join(', ') }}
          </p>
          <button class="movie-detail__back-button" (click)="goBack()">
            <span class="movie-detail__back-button-icon">←</span>
            Назад
          </button>
        </div>
      }
      @case ('error') {
        <p class="movie-detail__error-message" role="alert">
          Произошла ошибка при загрузке данных.
        </p>
      }
    }
  </ng-container>
</section>
