.movie-detail {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  @media (width >= 600px) {
    flex-direction: row;
    padding-bottom: 0;
  }

  &__poster {
    max-width: 300px;
    border-radius: 8px;
  }

  &__image {
    width: 100%;
    border-radius: 8px;
  }

  &__info {
    margin-left: 0;

    @media (width >= 600px) {
      margin-left: 20px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__year {
    font-size: 16px;
    color: #888;
  }

  &__rating,
  &__description,
  &__genres {
    font-size: 14px;
    color: #333;
  }

  &__back-button {
    padding: 10px 20px;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    color: #3498db;
    background-color: transparent;
    border: 2px solid #3498db;
    border-radius: 8px;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s,
      transform 0.3s;
    align-items: center;

    &:hover {
      color: var(--white);
      background-color: #3498db;
      transform: translateY(-2px);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgb(52 152 219 / 50%);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &__back-button-icon {
    margin-right: 8px;
  }

  &__loading {
    font-size: 18px;
    color: #3498db;
  }

  &__error-message {
    font-size: 16px;
    color: red;
  }
}
