.search-form {
  width: 100%;
  margin: 20px 0;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 10%);
  transition:
    box-shadow 0.3s ease-in-out,
    transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
    transform: scale(1.01);
  }

  &__input {
    width: 100%;
    padding: 14px 18px;
    display: block;
    font-size: 16px;
    color: #333;
    background-color: var(--white);
    border: 2px solid #e1b97d;
    border-radius: 8px;
    transition: all 0.3s ease;
    outline: none;

    &::placeholder {
      color: #aaa;
      opacity: 0.8;
      transition: opacity 0.3s ease;
    }

    &:focus {
      background-color: #f7f3e6;
      box-shadow: 0 0 10px rgb(215 162 38 / 30%);
      border-color: #d7a226;
    }

    &:disabled {
      background-color: #e8e8e8;
      border-color: #ddd;
      cursor: not-allowed;
    }

    @media (width <= 600px) {
      padding: 10px 14px;
      font-size: 14px;
    }

    &:not(:focus):hover {
      border-color: #73a1c0;
      background-color: #f0f8ff;
    }
  }
}
