:root {
  --bg: #f5f7fa;
  --white: #ffffff;
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #111;
}

.container {
  max-width: 1100px;
  margin: 15px auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
